html, body {
    max-width: 100%;
    overflow-x: hidden; /* prevent horizontal scrolling */
}


.categoryHeader {
color: #ffffff; font-size: 4em; font-family: 'Signika', sans-serif; padding-bottom: 10px; text-align: center; padding-top: 2em; 
}


.restaurantList{
	background-image: url("img/bg.jpg");
}

